.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  /* border é uma opção para que os botões não pulem ao passar o mouse por cima quando existir a border-left no ".header-menu a:hover" */
  border: 3px solid #000000;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.5s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  /* Deixa o botão com animação ao passar o mouse, havendo a border-left como 2° opção*/
  .header-menu a:hover {
    background-color: var(--cor-10);
    border-left: 3px solid greenyellow;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 1rem;
  }
}
